.contact {
    padding: 30px;

    + div {
        padding: 20px;
    }
}

form {
    text-align: left;

    label {
        display: block;
        margin: 10px;
    }

    input, textarea {
        padding: 2px 5px;
        margin: 0 10px;
        border-radius: 2px;
        border: 1px solid #dfdfdf;
        width: 100%;
        resize: none;
    }

    input {
        height: 25px;
    }

    button {
        margin: 10px;
    }
}

.half {
    vertical-align: top;

    .errors {
        width: 100%;
        text-align: left;
    }
    .error {
        height: 20px;
        color: #bdbdbd;
        border-top: 0.5px solid #dfdfdf;
        position: absolute;
        bottom: 0;
        width: 70.5%;
    }
}

section {
    p {
        text-align: center;
        margin: 20px;
    }
}